{% extends 'editeur/layout.html.twig' %}

{% block title %}Liste des éditeurs{% endblock %}

{% block page_title %}<h2>Liste des éditeurs</h2>{% endblock %}

{% block content %}
<ul>
    {% for editeur in editeurs %}
        <a href="editeur/{{ editeur.id }}"><li>{{ editeur.name }}</li></a>
    {% endfor %}
</ul>
{% endblock %}
