{% extends 'editeur/layout.html.twig' %}

{% block title %}Ajouter un éditeur{% endblock %}

{% block page_title %}<h2>Ajouter un éditeur</h2>{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}