{% extends 'jeu/layout.html.twig' %}

{% block title %}Liste des jeux{% endblock %}

{% block page_title %}<h2>Liste des jeux</h2>{% endblock %}

{% block content %}
<ul>
    {% for jeu in jeux %}
        <a href="jeu/{{ jeu.id }}"><li>{{ jeu.titre }}</li></a>
    {% endfor %}
</ul>
{% if is_granted("ROLE_KEJ") %}<button onclick="document.location = 'jeu/add'">Ajouter un nouveau jeu</a>{% endif %}
{% endblock %}