{% extends 'jeu/layout.html.twig' %}

{% block title %}Modifier un jeu{% endblock %}

{% block page_title %}<h2>Modifier le jeu {{ jeu.titre }}</h2>{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}