body {
  margin: 0;
  padding-left: 16px;
  margin-right: 10px;
  background-color: #fdf6e3;
}

header {
  background-color: lightgrey;
  margin-top: 0;
  padding: 10px 16px 10px 24px;
}

#sidebar {
  max-width: max-content;
}

#sidebar ul {
  list-style-type: none;
  list-style-position: inside;
  padding: 0 0;
  max-width: max-content;
  display: flex;
}

#sidebar li {
  padding: 2px 5px;
  margin: 0 15px;
}

#sidebar {
  font-size: 20px;
}

footer {
  text-align: center;
  background-color: grey;
  padding: 10px;
}

footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.logo img {
  margin-right: 10px;
  width: 60px;
  height: 60px;
}

#main_title {
  display: flex;
  font-family: 'Amatic SC', cursive;
}
