{% extends 'base.html.twig' %}

{% block title %}Locations en cours
{% endblock %}

{% block body %}
	<h2>Locations en cours</h2>
	<button onclick="document.location =  'location/add'">Nouvelle location</button>
	<table id="current_locations">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Jeu</th>
				<th scope="col">Personne</th>
				<th scope="col">Date de prêt</th>
				<th scope="col">Date de retour</th>
				<th scope="col">Payé</th>
				<th scope="col"></th>
			</tr>
		</thead>
		{% for location in locations %}
			<tr>
				<td>{{ location.id }}</td>
				<td>{{ location.jeu.titre }}</td>
				<td>{{ location.nom }}</td>
				<td></td>
				<td></td>
				{% if location.paye == 1 %}
				<td>Oui</td>
				{% else %}
				<td>Non</td>
				{% endif %}
				<td><button>Détails</button></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
