{% extends 'location/layout.html.twig' %}

{% block title %}Nouvelle location{% endblock %}

{% block page_title %}<h2>Nouvelle location</h2>{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}