{% extends 'location/layout.html.twig' %}

{% block title %}Modifier une location{% endblock %}

{% block page_title %}<h2>Modifier la location</h2>{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}