{% extends 'personne/layout.html.twig' %}
{% block info %}
<table>
    <tr>
        <td>Nom</td><td>{{ nom }}</td>
    </tr>
    <tr>
        <td>Prénom</td><td>{{ prenom }}</td>
    </tr>
        <td>Kàp</td><td>{{ kap }}</td>
    </tr>
</table>
<h3>Historique des locations</h3>

{% endblock %}