<h1>Create your password</h1>

<p>Someone created an account for this email address</p>

<p>
    If it was you, you can set your password on clicking the following <a href={{ confirm_link }}>link</a>.
</p>
<p>
    If the link doesn't work, copy paste in your browser.
    <code>{{ confirm_link }}</code>
</p>
<p>
    If it wasn't you, you can ignore this email
</p>