{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<h1>À propos</h1>
<p>Ce site appartient au kot-à-projet "Kot-é-jeux" de Louvain-en-Woluwé.</p>
<p>Il a été développé par Jean Vanneste en 2020</p>
{% endblock %}