<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}Kotéjeux{% endblock %}</title>
        <link href="{{ asset('css/error.css') }}" rel="stylesheet"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <h1>Kotejeux</h1>
        <nav id="subtitle">
            {% if not is_granted("IS_AUTHENTICATED_FULLY") %}<a href="/login">Connexion</a>{% endif %}
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}<a href="/logout">Déconnexion</a>{% endif %}
        </nav>
        <nav id="sidebar">
            {% block sidebar %}
            <ul>
                <li><a href="{{ path('homepage') }}">Home</a></li>
                <li><a href="{{ path('blog_index') }}">Blog</a></li>
            </ul>
            {% endblock %}
        </nav>

        <div id="content">
            {% block body %}{% endblock %}
        </div>
        <footer>
            {% block footer %}
                <a href="index">Page principale</a>
                <a href="about">À propos</a>
            {% endblock %}
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
