{% extends "base.html.twig" %}

{% block body %}
<p>Mail : kotejeux(at)gmail.com</p>
<p><a href='https://www.facebook.com/kote.jeux'>Facebook</a></p>
<p><a href='https://www.instagram.com/moumouchedukej/'>Instagram</a></p>
{% endblock %}