{% extends 'base.html.twig' %}

{% block body %}
    <h2>Bienvenue sur le site du Kot-é-Jeux de Louvain-en-Woluwe</h2>
    <p>
        Vous pouvez ici consulter les différents jeux disponibles dans notre ludotèque situé au C4 du centre oeucuménique.
    </p>
        Il est également possible d'effectuer des recherches afin de trouver le produit idéal pour votre soirée.
    </p>
{% endblock %}