{% extends 'user/layout.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}
{% block page_title %}<h2>Créer un nouvel utilisateur</h2>{% endblock %}
{% block content %}
    {{ form(form) }}
{% endblock %}