{% extends 'user/layout.html.twig' %}

{% block title %}Créer votre mot de passe{% endblock %}
{% block page_title %}<h2>Créer votre mot de passe</h2>{% endblock %}
{% block content %}
{% if error is defined %}<div class="message">ERREUR : {{ error }}</div>{% endif %}
    <h3>Bonjour {{ username }}. Veuillez choisir un mot de passe.</h3>
    {{ form(form) }}
{% endblock %}